.big-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    max-height: 700px;
    max-width: 960px;
    padding: 20px;
    margin: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}